LANGFUSE_SECRET_KEY="<Placeholder>"
LANGFUSE_PUBLIC_KEY="<Placeholder>"
LANGFUSE_BASE_URL="<Placeholder>"
SERPER_API_KEY="<Placeholder>"
LARGE_MODEL_ID="anthropic/claude-sonnet-4-6"
ANTHROPIC_API_KEY="<Placeholder>"