MODEL_ID="bedrock/us.anthropic.claude-sonnet-4-6"
BEDROCK_KB_ID="<Placeholder>"
MEMORY_ID="<Placeholder>"
MEMORY_SUMMARY_STRATEGY_ID="<Placeholder>"
CONFIDENT_API_KEY="<Placeholder>"
CONFIDENT_TRACE_VERBOSE=0
CONFIDENT_TRACE_FLUSH=1
OPENAI_API_KEY="<Placeholder>"