MODEL_ID="bedrock/us.anthropic.claude-3-5-sonnet-20240620-v1:0"
ATLASSIAN_EMAIL="your-atlassian-email-id"
ATLASSIAN_API_KEY="your-atlassian-api-key"   
CONFIDENT_AI_API_KEY="your-confident-ai-api-key"
CONFIDENT_TRACE_VERBOSE=0